.text-container{
    font-weight: bold;
    font-size: 50px;
    display: inline-flex;
}

.error{
    color: red;
}

.resetpassword{
    padding-top: 30px;
    background-color: rgb(27, 26, 26);
    height: 100vh;
    color: white;
    overflow: hidden;
}

.resetForm>label{
    color: white;
    justify-content: flex-start;
}