@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input{
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;

}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container::before{
    content: '';
    position: absolute;
    height: 2000px;
    width: 2000px;
    top : -10%;
    right: 48%;
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 6;
    transition: 1.8s ease-in-out;


}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0 5rem;
    pad: 5rem;
    grid-column: 1 / 2; 
    grid-row: 1 / 2;
}

.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}


.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.5rem;
}

.fab{
   margin-top: 10px;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
}

.input-field input:placeholder-shown{
    color: #aaa;
    font-weight: 500;

}
.btn{
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;
    cursor: pointer;

}
.btn:hover{
    background-color: #000000;
background-image: linear-gradient(63deg,#04619f 0%, #000000 130%);

}

.social-text{
    padding: 0.7rem 0;

}

.social-media{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
}

.social-icon{
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    

    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: all 0.5s;
    color: #333;
    margin-right: 30px;
   
}

.social-icon:hover{
    
    background: -webkit-linear-gradient(147deg, #000000 0%, #04619f 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    border-color: #010153;
}

.signin-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    z-index: 8;
    transition-delay: 2s;
    
}

.signin-signup2{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    display: none;
}


.signup-signup{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

.signup-signup2{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    display: none;
}

form.sign-in-form {
    z-index: 2;
}

form.sign-up-form {
    z-index: 1;
    opacity: 0;
}


.image{
    width: 100%;
    transition: 1.1s 0.4s ease-in-out;
}

.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);

}


.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 7;
    
}

.left-panel{
    padding: 3rem 17% 2rem 12%;
}

.right-panel{
    padding: 3rem 12% 2rem 17%;
    
}

.right-panel2{
    padding: 3rem 12% 2rem 17%;
    display: none;
}

.panel .content{
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size:  1.5rem;
}

.panel p{
    font-size: 0.95rem;
    padding: 0.7rem;
}

.btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41 px;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;

}

.right-panel .content, 
.right-panel .image {
    transform: translateX(800px);
}

/* Animations */

.container.sign-up-mode::before{
    transform: translate(100%, -50%);
    right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translate(-800px);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content{
    transform: translateX(0%);
}

.container.sign-up-mode .left-panel{
    pointer-events: none;

}

.container.sign-up-mode .right-panel {
    pointer-events: all;
}

.container.sign-up-mode .signin-signup{
    left: 25%;
}

.container.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}

.loginSuccessalert{
    display: none;
}

.loginFailedalert{
    display: none;
}

.loginSuccessalertdisplay{
    display: block;
}

.loginFailedalertdisplay{
    display: block;
}


/* Google Button*/

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    width: 200px;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
  }



